.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-image: url('https://2020.stateofjs.com/images/tshirt/stateofjs2020-tshirt-export.png;');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  /* colocado na aula 2 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Aula 2 */
.content {
  background-color: #545f75;
  opacity: 0.95;
  padding: 16px;
  border-radius: 24px;
  min-width: 30%;
}

.container {
  display: grid;
  gap: 16px;
  padding: 24px;
  background-color: rgb(255, 0, 0);
  color: #e5ff00;
}

.container:hover {
  transition: all 0.4s;
  box-shadow: 0 8px 16px 0 rgb(253, 253, 253);
  filter: brightness(100%);
  transform: scale(2.05);
  border: solid 8px rgb(47, 0, 255);
}


.card {
  padding: 8px 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button {
  position: relative;
  background-color: #008cba;
  border: none;
  font-size: 18px;
  color: #ffffff;
  padding: 16px;
  width: 100%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: '';
  background: #055c79;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.button:active {
  outline: none;
  border: none;
}
.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
}

.input-container {
  text-align: left;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
}